body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background: red;



}

ul li a :hover {
    transform: scale(1.2);



}


.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    margin: 0;
    font-size: 2em;
}

.section {
    padding: 50px 0;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item a {
    font-size: 25px;
    text-decoration: none;
}


.portfolio-item a:hover {

    background: rgb(104, 240, 0);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.animated-image {
    width: 120px;
    /* Adjust as needed */
    height: auto;
    animation: bounce 2 infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-15px);
    }
}